<h1>Ata de número <%= @minute.date.to_date %></h1>

<table>
  <tr>
    <th>Data da ata:</th>
    <td><%= @minute.date.to_date %></td>
  </tr>
  <tr>
    <th>Membros presentes:</th>
    <td><%= @minute.members %></td>
  </tr>
</table>

<br>
<% if @minute.entries.empty? %>
  Esta ata não possui entradas
<% else %>
  <%= render 'entries/list' %>
<% end %>
